In [33]:
import pandas as pd
import re
from datasets import Dataset

## Load Dataset

In [4]:
data_path='../data/naruto.csv'
nt_df=pd.read_csv(data_path)

In [5]:
nt_df.head()

      name                                               line
0   Naruto   (Laughing) Give it up. (Shows the stone faces...
1  Hiruzen   (Turns away from his writing) I hope you’re n...
2    Ninja                                       Naseer Sabah
3    Ninja                        is the best person on earth
4   Naruto                                               muah

In [7]:

## Data Cleaning

## Remove actions from lines

def remove_actions(text):
    result = re.sub(r'\(.*?\)','',text)
    return result

In [9]:
nt_df['line']=nt_df['line'].apply(remove_actions)

In [10]:
nt_df.head()

      name                                               line
0   Naruto    Give it up.  You’re just bent, because you d...
1  Hiruzen    I hope you’re not bothering me with some tri...
2    Ninja                                       Naseer Sabah
3    Ninja                        is the best person on earth
4   Naruto                                               muah

In [14]:
nt_df['number_of_words']= nt_df['line'].str.strip().str.split(" ")

In [15]:
nt_df.head()

,name,line,number_of_words
0,Naruto,"Give it up. You’re just bent, because you d...","[Give, it, up., , You’re, just, bent,, because..."
1,Hiruzen,I hope you’re not bothering me with some tri...,"[I, hope, you’re, not, bothering, me, with, so..."
2,Ninja,Naseer Sabah,"[Naseer, Sabah]"
3,Ninja,is the best person on earth,"[is, the, best, person, on, earth]"
4,Naruto,muah,[muah]

In [16]:
nt_df['number_of_words']= nt_df['number_of_words'].apply(lambda x: len(x))

In [17]:
nt_df.head()

      name                                               line  number_of_words
0   Naruto    Give it up.  You’re just bent, because you d...               26
1  Hiruzen    I hope you’re not bothering me with some tri...               16
2    Ninja                                       Naseer Sabah                2
3    Ninja                        is the best person on earth                6
4   Naruto                                               muah                1

In [18]:
nt_df['naruto_response_flag'] = 0
nt_df.loc[(nt_df['name']=='Naruto')&(nt_df['number_of_words']>4), 'naruto_response_flag'] = 1

nt_df.head()

,name,line,number_of_words,naruto_response_flag
0,Naruto,"Give it up. You’re just bent, because you d...",26,1
1,Hiruzen,I hope you’re not bothering me with some tri...,16,0
2,Ninja,Naseer Sabah,2,0
3,Ninja,is the best person on earth,6,0
4,Naruto,muah,1,0

In [19]:
nt_df

,name,line,number_of_words,naruto_response_flag
0,Naruto,"Give it up. You’re just bent, because you d...",26,1
1,Hiruzen,I hope you’re not bothering me with some tri...,16,0
2,Ninja,Naseer Sabah,2,0
3,Ninja,is the best person on earth,6,0
4,Naruto,muah,1,0
...,...,...,...,...
158,Iruka,Congratulations. You graduate. Naruto’s stand...,27,0
159,Iruka,Huh?,1,0
160,Naruto,Iruka Sensei!,2,0
161,Iruka,Ah! That hurts!,3,0
162,Iruka,Naruto. This is only the beginning. The road...,38,0

In [20]:
# Filter rows where the 'name' column contains 'Naruto'
filtered_df = nt_df[nt_df['name'].str.contains('Naruto', case=False)]

# Display the filtered DataFrame
filtered_df

,name,line,number_of_words,naruto_response_flag
0,Naruto,"Give it up. You’re just bent, because you d...",26,1
4,Naruto,muah,1,0
6,Naruto,"Where’d you come from, Iruka Sensei!? What ar...",11,1
20,Naruto,Like I care.,3,0
22,Naruto,Transform!,1,0
24,Naruto,Gotcha! That’s my Sexy Jutsu!,5,1
26,Naruto,This sucks. Loser.,3,0
28,Naruto,So what? It’s not like there’s anyone waitin...,12,1
30,Naruto,"What do you want now, Sensei?",6,1
32,Naruto,Now that’s some serious motivation! I’ll hav...,12,1
34,Naruto,Mmmm...,1,0
36,Naruto,Course I do. Everybody knows. They were the ...,44,1
38,Naruto,Cause I’m going to be greater than any of the...,47,1
40,Naruto,Uh-uh. I... want to try on your headband. Co...,11,1
42,Naruto,That is so uncool!,4,0
44,Naruto,Ugh...! I want another bowl!,5,1
46,Naruto,Ugh! That’s my worst technique! Great. I’m n...,10,1
47,Naruto,"Alright. Get it together, Naruto. You can do...",15,1
61,Naruto,Then why? Why only me?,5,1
63,Naruto,But... This time I really wanted to graduate.,8,1
65,Naruto,Huh?,1,0
67,Naruto,A secret?,2,0
77,Naruto,Let’s see... The first one is... Multi-Shadow...,18,1
86,Naruto,"Got me already? Not bad. You’re quick, Sensei...",16,1
88,Naruto,"Listen, Iruka Sensei! I’m going to show you ...",37,1
90,Naruto,Mizuki Sensei told me about it. Believe it. ...,22,1
96,Naruto,Wait a minute... What’s going on here?,8,1
99,Naruto,Huh?,1,0
104,Naruto,What decree?,2,0
106,Naruto,What is this decree? Why does everyone else ...,11,1
111,Naruto,"No...! No, no, no, no!",6,1
117,Naruto,W-Why?,1,0
136,Naruto,So it’s true. Iruka Sensei never believed in...,18,1
142,Naruto,If you ever lay a hand on my Sensei... I’ll ...,12,1
144,Naruto,"Take your best shot, fool. I’ll give it back...",14,1
146,Naruto,Shadow Clone Jutsu!,3,0
149,Naruto Clone,If you’re not coming...,4,0
150,Naruto Clone,Then we’re gonna come after you!,6,0
151,Naruto,"Sorry. I kinda got carried away. You okay, I...",11,1
156,Naruto,Sensei? How much longer?,4,0
160,Naruto,Iruka Sensei!,2,0

In [21]:
indexes = list(nt_df[(nt_df['naruto_response_flag']==1)& (nt_df.index > 0)].index)

In [28]:
indexes[:3]

[6, 24, 28]

In [29]:
system_prompt = """ You are Naruto Uzumaki, a character from the anime series Naruto. Your responces should reflect his personality and speech patterns \n """
prompts = []

for ind in indexes:
    prompt = system_prompt 
    prompt += nt_df.iloc[ind-1]['line']
    prompt += '\n'
    prompt += nt_df.iloc[ind]['line']
    prompts.append(prompt)

In [30]:
print(prompts[3])

 You are Naruto Uzumaki, a character from the anime series Naruto. Your responces should reflect his personality and speech patterns
   Naruto?
  What do you want now, Sensei?

In [31]:
df = pd.DataFrame({'prompt':prompts})

In [32]:
df.head()

                                              prompt
0   You are Naruto Uzumaki, a character from the ...
1   You are Naruto Uzumaki, a character from the ...
2   You are Naruto Uzumaki, a character from the ...
3   You are Naruto Uzumaki, a character from the ...
4   You are Naruto Uzumaki, a character from the ...

In [34]:
dataset = Dataset.from_pandas(df)